body{
  background: white;
  color: #f4 f4f4;
  color: #f4f4f4;
  color: #f4f4f4;
  color: #f4f4f4;
  color: #000000;
  color: #000000;
  color: #000000;
  color: #000000;
  color: #000000;
  color: #000000;
  color: #000000;
  color: #f4f4f4;
  color: #f4f4f4;
  position: relative;
  position: relative;
  left: 3em;
  left: 3em;
  left: 3em;
  float: left;
  float: left;
  float: right;
  
  left: 3em Noma;         
  left: 3em Noma;
  left: 3em Noma;
  left: 3em Noma;
  

  float: right;
  float: right;
  float: right;
  float: right;
  float: right;


}
